body{
	max-width:1000px;
	background-image:  url("../images/white_state.png");
	background-position:left;
	margin-left:15%;
	font-family: 'Karla',sans-serif;
}

.top{
	max-width:100%;
	width:964.5px;
	background-color: rgba(14,67,80,0.7);
	border:10px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	padding:10px;
	margin:2.5% 0  0 0;

}

.topa{
	max-width:100%;
	width:964.5px;
	background-color: rgba(14,67,80,0.7);
	border:10px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	padding:10px;
	margin:2.5% 0  0 0;

}

.images{
	max-width:100%;
	width:980px;
	background-color: rgba(14,67,80,0.7);
	border:10px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	padding:10px;
	margin:2.5% 0  0 0;
}

.set{
	max-width:100%;
	width:950px;
	background:rgba(14,67,80,0.7);
	font-family: 'Cinzel', serif;
	border: 10px solid #023542;
	padding:5px;
	margin:2% 0;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
}

.img{
	max-width:100%;
	border:4px solid #022730;
	border-radius: 3px 3px 3px;
	-ms-border-radius:3px 3px 3px;
	-moz-border-radius:3px 3px 3px;
	-web-border-radius:3px 3px 3px;
	-o-border-radius:3px 3px 3px;
	-khtml-border-radius:3px 3px 3px;
	margin:1.5%;
}

.img:hover{
	border:4px solid #04cdff;

}

h1{	
	max-width:100%;
	background:rgba(255,255,255,0.9);
	text-align:center;
	border:5px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px; 
	padding:2%;
	margin:0:
}

.way{
	max-width:100%;
	background:rgba(14,67,80,0.7);
	text-align:left;
	border:10px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px; 
}

.way h1{
	max-width:100%;
	width:60%;
	font-size:140%;
	text-align:center;
	border:3px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	padding:2.5%;
	margin:2% 0 2% 1.5%;
	float:left;
	float:clear;
	overflow:none;
}

.way img{
	max-width:100%;
	margin:2% 1% 2% 1%;
	border:3px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
}



h3{
	max-width:100%;
	background:rgba(255,255,255,0.9);
	text-align:center;
	border:2px solid #023542; 
	padding:2%;
	margin:0;
}

ul{
margin-left:3.9%;
}

ul li{
	display:inline;
	text-align:center;
	text-decoration:none;
	outline:none;
	margin:2%;
}
.hov{
	max-width:100%;
	background:#fff;
	padding:0.9%;
	margin:0.5%;
	border:5px solid #023542;
	border-radius:10px 10px 10px;
	-ms-border-radius:10px 10px 10px;
	-moz-border-radius:10px 10px 10px;
	-web-border-radius:10px 10px 10px;
	-o-border-radius:10px 10px 10px;
	-khtml-border-radius:10px 10px 10px;
}


.hov:hover{
	background:rgba(255,255,255,0.9);
	padding:1%;
	margin:1.5%;
	border:5px solid #023542;
	border-radius:10px 10px 10px;
	-ms-border-radius:10px 10px 10px;
	-moz-border-radius:10px 10px 10px;
	-web-border-radius:10px 10px 10px;
	-o-border-radius:10px 10px 10px;
	-khtml-border-radius:10px 10px 10px;
}
.hova{
	max-width:100%;
	background:#fff;
	padding:0.9%;
	margin:0.5%;
	border:5px solid #023542;
	border-radius:10px 10px 10px;
	-ms-border-radius:10px 10px 10px;
	-moz-border-radius:10px 10px 10px;
	-web-border-radius:10px 10px 10px;
	-o-border-radius:10px 10px 10px;
	-khtml-border-radius:10px 10px 10px;
}


.hova:hover{
	background:rgba(255,255,255,0.9);
	padding:1%;
	margin:1.5%;
	border:5px solid #023542;
	border-radius:10px 10px 10px;
	-ms-border-radius:10px 10px 10px;
	-moz-border-radius:10px 10px 10px;
	-web-border-radius:10px 10px 10px;
	-o-border-radius:10px 10px 10px;
	-khtml-border-radius:10px 10px 10px;
}
.overview{
	max-width:100%;
	width:365px;
	background:rgba(14,67,80,0.7);
	font-family: 'Cinzel', serif;
	border: 10px solid #023542;
	padding:5px;
	margin:2% 0;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	float:right;
	float:clear;
}

.list{
	max-width:100%;
	width:500px;
	background:rgba(14,67,80,0.7);
	font-family: 'Cinzel', serif;
	border: 10px solid #023542;
	padding:10px;
	margin:4% 0 5% 22%;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
}

.list ol{
	background:#fff;
	border:5px solid #023542;
}



#building{
	max-width:100%;
	margin-left:13%;
	border: 5px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
}

#dep{
	max-width:100%;
	background:rgba(255,255,255,0.9);
	text-align:center;
	border-radius:3px 3px 3px;
	-ms-border-radius:3px 3px 3px;
	-moz-border-radius:3px 3px 3px;
	-web-border-radius:3px 3px 3px;
	-o-border-radius:3px 3px 3px;
	-khtml-border-radius:3px 3px 3px;
}

.ph{
	max-width:100%;
	background:#fff;
	text-indent: 1em;
	padding:1%;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
}

.headlines{
	max-width:100%;
	width:400px;
	background:rgba(14,67,80,0.7);
	font-family: 'Cinzel', serif;
	border: 10px solid #023542;
	padding:5px;
	margin:2% 0 10% 0;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	float:left;
	float:clear;
}

#seatbelt{
	max-width:100%;
	width:380px;
	margin-left:2%;
	border: 5px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
}

/*.list{
	display:list;
	text-align:center;
	text-decoration:none;
	padding:5%;
	
}*/

.patrol{
	max-width:100%;
	width:500px;
	background:rgba(14,67,80,0.7);
	font-family: 'Cinzel', serif;
	border: 10px solid #023542;
	margin:57% 0 3% 0;
	padding:1%;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	float:clear;
}

#flp{
	max-width:100%;
	margin-left:35%;
}

#police{
	max-width:100%;
	background:rgba(255,255,255,0.9);
	border:2px solid #023542;
	text-align:center;
	padding:.1%;
	margin:.5% 0;
}


#patrol{
	max-width:100%;
	border:5px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	margin: 2% 0 0 17%;
}

.bottom{
	max-width:100%;
	width:967px;
	background-color: rgba(14,67,80,0.7);
	border:10px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	padding:8.9px;
}

.bottoma{
	max-width:100%;
	width:980px;
	background-color: rgba(14,67,80,0.7);
	border:10px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	margin-top:2%;
	padding:2px;
}

.form{
	max-width:100%;
	width:500px;
	background-color: rgba(14,67,80,0.7);
	border:10px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	padding:10px;
	margin:2.5% 0  0 0;

}

h5{
	padding:0;
	float:left;
}

.like{
	max-width:100%;
	display:inline;
	margin:0 0 0 80%;
}

.set:hover{
	background-color:#3892a9;
	border:2px solid rgba(14,67,80,0.9);
}

ol{
	list-style-type:none;
	text-decoration:none;
	text-align:center;
}

#sun{
	max-width:100%;
	border:10px solid rgba(14,67,80,0.9);
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	margin-left:20%;
}

#sun:hover{
	border:10px solid #04cdff;
}

#tag{
	max-width:100%;
	width:500px;
	border:10px solid rgba(14,67,80,0.9);
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	margin-left:22.8%;
}

#tag:hover{
	border:10px solid #04cdff;
}

#beach{
	max-width:100%;
	width:700px;
	height:300px;
	border:10px solid rgba(14,67,80,0.9);
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	margin-left:12.7%;
	margin-top:1%;
}

#beach:hover{
	border:10px solid #04cdff;
}

.pha{
	max-width:100%;
	background:#fff;
	width400px
	text-indent: 1em;
	padding:1%;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
}	

#colonel{
	max-width:100%;
	width:200px;
	border:10px solid rgba(14,67,80,0.9);
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	margin-left:38.7%;
	margin-top:1%;
}

#colonel:hover{
	border:10px solid #04cdff;
}

#seal{
	max-width:100%;
	width:200px;
	border:10px solid rgba(14,67,80,0.9);
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	margin-left:38.7%;
	margin-top:1%;
}

#seal:hover{
	border:10px solid #04cdff;
}

#team{
	max-width:100%;
	width:700px;
	border:10px solid rgba(14,67,80,0.9);
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	margin-left:12.9%;
	margin-top:1%;
}

#team:hover{
	border:10px solid #04cdff;
}

#latina{
	max-width:100%;
	border:10px solid rgba(14,67,80,0.9);
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	margin-left:15.2%;
	margin-top:1%;
}

#latina:hover{
	border:10px solid #04cdff;
}

.phe{
	max-width:100%;
	background:#fff;
	width400px
	text-indent: 1em;
	padding:1%;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	margin-left:38%;
}

.pho{
	max-width:100%;
	background:#fff;
	width:150px;
	text-indent: 1em;
	padding:1%;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	margin-left:41.2%	
}

#state{
	max-width:100%;
	margin-left:29%;
}



/* =Media Queries
=======================================================================*/

/*Tablet Portrait size to standard 1200 (devices and browsers)*/
@media screen and (min-width:768px ) and ( max-width:1199px ){

body{
	background-image:  url("../images/tablet.png");
	background-position:left;
	margin-left:15%;
	font-family: 'BenchNine', sans-serif;
}

.way{
	max-width:100%;
	width:814px;
	background:#04cdff;
	text-align:center;
	border:10px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px; 
}

.way h1{
	max-width:100%;
	width:60%;
	font-size:140%;
	text-align:center;
	border:3px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	padding:2.5%;
	margin:1% 0 1% 17.3%;
	overflow:none;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
}

.way img{
	max-width:100%;
	width:700px;
	height:70px;
	margin:1% 1% 1% 1%;
	border:3px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
}

.top{
	max-width:100%;
	width:800px;
	background-color:#04cdff;
	border:10px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	font-family: 'BenchNine', sans-serif;
	padding:1%;
	margin:2.5% 0  0 0;

}

.hov{
	max-width:100%;
	background:#fff;
	padding:0.9%;
	margin:0.5%;
	border:5px solid #023542;
	border-radius:10px 10px 10px;
	-ms-border-radius:10px 10px 10px;
	-moz-border-radius:10px 10px 10px;
	-web-border-radius:10px 10px 10px;
	-o-border-radius:10px 10px 10px;
	-khtml-border-radius:10px 10px 10px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin-left:3%;
}

ul{
margin-left:3.9%;
}

ul li{
	display:inline;
	text-align:center;
	text-decoration:none;
	outline:none;
	margin:1%;
}

.overview{
	max-width:100%;
	width:300px;
	background:#04cdff;
	font-family: 'BenchNine', sans-serif;
	border: 10px solid #023542;
	padding:1% 1% 2% 1%;
	margin:2% 4% 0 0;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	float:right;
	float:clear;
}

#building{
	max-width:100%;
	width:225px;
	border: 5px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin:10% 0 0 10%;
}

.headlines{
	max-width:100%;
	width:300px;
	background:#04cdff;
	font-family: 'BenchNine', sans-serif;
	border: 10px solid #023542;
	padding:5px;
	margin:2% 0 10% 0;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	float:left;
	float:clear;
}

#seatbelt{
	max-width:100%;
	width:225px;
	margin-left:10%;
	border: 5px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
}

.ph{
	max-width:100%;
	background:#fff;
	text-indent: 1em;
	padding:1%;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin:1.5%;
}

.patrol{
	max-width:100%;
	width:300px;
	background:#04cdff;
	font-family: 'BenchNine', sans-serif;
	border: 10px solid #023542;
	margin:45% 0 3% 0;
	padding:1%;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	float:clear;
}

#patrol{
	max-width:100%;
	width:225px;
	border:5px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin: 2% 0 0 12.5%;
}

.bottom{
	max-width:100%;
	width:800px;
	background-color:#04cdff;
	border:10px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	padding:8.9px;
}

.topa{
	max-width:100%;
	width:700px;
	background-color:#04cdff;
	border:10px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	font-family: 'BenchNine', sans-serif;
	padding:1%;
	margin:2.5% 0  0 0;
}

.hova{
	max-width:100%;
	background:#fff;
	padding:0.9%;
	margin:0.5%;
	border:5px solid #023542;
	border-radius:10px 10px 10px;
	-ms-border-radius:10px 10px 10px;
	-moz-border-radius:10px 10px 10px;
	-web-border-radius:10px 10px 10px;
	-o-border-radius:10px 10px 10px;
	-khtml-border-radius:10px 10px 10px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin-left:1.5%;
}

#sun{
	max-width:100%;
	width:400px;
	border:10px solid rgba(14,67,80,0.9);
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin-left:20%;
}

#sun:hover{
	border:10px solid #022730;
}

.bottoma{
	max-width:100%;
	width:700px;
	background-color:#04cdff;
	border:10px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	margin-top:2%;
	padding:1%;
}

#tag{
	max-width:100%;
	width:500px;
	border:10px solid rgba(14,67,80,0.9);
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin-left:13.7%;
}

#tag:hover{
	border:10px solid #023542;
}

.pho{
	max-width:100%;
	background:#fff;
	width:150px;
	text-indent: 1em;
	padding:1%;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin-left:37%	
}

#state{
	max-width:100%;
	margin-left:21.5%;
}

#beach{
	max-width:100%;
	width:550px;
	height:300px;
	border:10px solid rgba(14,67,80,0.9);
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin-left:10%;
	margin-top:1%;
}

#beach:hover{
	border:10px solid #023542;
}

.pha{
	max-width:100%;
	background:#fff;
	width300px
	text-indent: 1em;
	padding:1%;
	margin:1%;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
}

#team{
	max-width:100%;
	width:500px;
	border:10px solid rgba(14,67,80,0.9);
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin-left:12.9%;
	margin-top:1%;
}

#team:hover{
	border:10px solid #023542;
}

#colonel:hover{
	border:10px solid #023542;
}

#seal:hover{
	border:10px solid #023542;
}

#latina{
	max-width:100%;
	width:500px;
	border:10px solid rgba(14,67,80,0.9);
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin-left:15.2%;
	margin-top:1%;
}

#latina:hover{
	border:10px solid #023542;
}

.images{
	max-width:100%;
	width:700px;
	background-color:#04cdff;
	border:10px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	font-family: 'BenchNine', sans-serif;
	padding:1%;
	margin:2.5% 0  0 0;
}

.set{
	max-width:100%;
	width:600px;
	background-color:#04cdff;
	border:10px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	font-family: 'BenchNine', sans-serif;
	padding:1%;
	margin:2.5% 0  0 5%;
}

.list{
	max-width:100%;
	width:600px;
	background-color:#04cdff;
	border:10px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	font-family: 'BenchNine', sans-serif;
	padding:1%;
	margin:2.5% 0  0 5%;
}

}

/*Mobile Landscape size to Tablet Portrait(devices and browsers)*/
@media only screen and (min-width:480px) and (max-width:767px){

body{
	background-image:  url("../images/b%w.png");
	background-position:left;
	margin-left:15%;
	font-family: 'BenchNine', sans-serif;
}

.way{
	max-width:100%;
	width:500px;
	background:#396e7d;
	text-align:center;
	border:10px solid #3c3c82;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px; 
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
}

.way h1{
	max-width:100%;
	width:60%;
	font-size:140%;
	text-align:center;
	border:3px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	padding:2.5%;
	margin:1% 0 1% 17.3%;
	overflow:none;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
}

.way img{
	max-width:100%;
	width:350px;
	height:70px;
	margin:1% 1% 1% 1%;
	border:3px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
}

.top{
	max-width:100%;
	width:490px;
	background-color:#396e7d;
	border:10px solid #3c3c82;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	font-family: 'BenchNine', sans-serif;
	padding:1%;
	margin:2.5% 0  0 0;

}

.hov{
	max-width:100%;
	background:#fff;
	padding:0.9%;
	margin:1%;
	font-size:75%;
	border:5px solid #023542;
	border-radius:10px 10px 10px;
	-ms-border-radius:10px 10px 10px;
	-moz-border-radius:10px 10px 10px;
	-web-border-radius:10px 10px 10px;
	-o-border-radius:10px 10px 10px;
	-khtml-border-radius:10px 10px 10px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
}

ul{
margin-left:0.1%;
}

ul li{
	display:inline;
	text-align:center;
	text-decoration:none;
	outline:none;
	margin:-1%;
}

.overview{
	max-width:100%;
	width:200px;
	background:#396e7d;
	font-family: 'BenchNine', sans-serif;
	border: 10px solid #3c3c82;
	padding:1% 1% 2% 1%;
	margin:2% 10% 0 0;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	float:right;
	float:clear;
}

#building{
	max-width:100%;
	width:150px;
	border: 5px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin:10% 0 0 10%;
}

.headlines{
	max-width:100%;
	width:200px;
	background:#396e7d;
	font-family: 'BenchNine', sans-serif;
	border: 10px solid #3c3c82;
	padding:5px;
	margin:2% 0 10% 0;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	float:left;
	float:clear;
}

#seatbelt{
	max-width:100%;
	width:150px;
	margin-left:10%;
	margin-top:3%;
	border: 5px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
}

.ph{
	max-width:100%;
	background:#fff;
	text-indent: 1em;
	padding:1%;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin:1.5%;
}

.patrol{
	max-width:100%;
	width:200px;
	background:#396e7d;
	font-family: 'BenchNine', sans-serif;
	border: 10px solid #3c3c82;
	margin:70% 0 3% 0;
	padding:1%;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	float:clear;
}

#patrol{
	max-width:100%;
	width:150px;
	border:5px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin: 2% 0 0 12.5%;
}

.bottom{
	max-width:100%;
	width:490px;
	background-color:#396e7d;
	border:10px solid #3c3c82;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	padding:-4%;
	margin-top:24%;
}

.like{
	max-width:100%;
	display:inline;
	margin:0 0 0 70%;
	padding:2%;
	clear:both;
}

.topa{
	max-width:100%;
	width:490px;
	background-color:#396e7d;
	border:10px solid #3c3c82;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	font-family: 'BenchNine', sans-serif;
	padding:1%;
	margin:2.5% 0  0 0;
}

.hova{
	max-width:100%;
	background:#fff;
	padding:0.9%;
	margin:0.5%;
	font-size:75%;
	border:5px solid #023542;
	border-radius:10px 10px 10px;
	-ms-border-radius:10px 10px 10px;
	-moz-border-radius:10px 10px 10px;
	-web-border-radius:10px 10px 10px;
	-o-border-radius:10px 10px 10px;
	-khtml-border-radius:10px 10px 10px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin-left:1.5%;
}

#sun{
	max-width:100%;
	width:250px;
	border:10px solid rgba(14,67,80,0.9);
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin-left:23%;
}

#sun:hover{
	border:10px solid #022730;
}
.form{
	max-width:100%;
	width:400px;
	border:10px solid rgba(14,67,80,0.9);
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
}


.bottoma{
	max-width:100%;
	width:490px;
	font-size:90%;
	background-color:#396e7d;
	border:10px solid #3c3c82;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin-top:2%;
	padding:1%;
}

#tag{
	max-width:100%;
	width:350px;
	border:10px solid rgba(14,67,80,0.9);
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin-left:11.5%;
}

#tag:hover{
	border:10px solid #023542;
}

.pho{
	max-width:100%;
	background:#fff;
	width:150px;
	text-indent: 1em;
	padding:1%;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin-left:37%	
}

#state{
	max-width:100%;
	margin-left:10%;
}

#beach{
	max-width:100%;
	width:350px;
	height:150px;
	border:10px solid rgba(14,67,80,0.9);
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin-left:12.6%;
	margin-top:1%;
}

#beach:hover{
	border:10px solid #023542;
}

.pha{
	max-width:100%;
	background:#fff;
	width300px
	text-indent: 1em;
	padding:1%;
	margin:1%;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
}

#team{
	max-width:100%;
	width:300px;
	border:10px solid rgba(14,67,80,0.9);
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin-left:17%;
	margin-top:1%;
}

#team:hover{
	border:10px solid #023542;
}

#colonel:hover{
	border:10px solid #023542;
}

#seal:hover{
	border:10px solid #023542;
}

#latina{
	max-width:100%;
	width:350px;
	border:10px solid rgba(14,67,80,0.9);
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin-left:12.5%;
	margin-top:1%;
}

#latina:hover{
	border:10px solid #023542;
}

.images{
	max-width:100%;
	width:492px;
	background-color:#396e7d;
	border:10px solid #3c3c82;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	font-family: 'BenchNine', sans-serif;
	padding:1%;
	margin:2.5% 0  0 0;
}

.set{
	max-width:100%;
	width:375px;
	background-color:#04cdff;
	border:10px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	font-family: 'BenchNine', sans-serif;
	padding:1%;
	margin:2.5% 0  0 5%;
}

.list{
	max-width:100%;
	width:600px;
	background-color:#04cdff;
	border:10px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	font-family: 'BenchNine', sans-serif;
	padding:1%;
	margin:2.5% 0  0 5%;
}

}

/*Mobile Portrait size to Mobile Landscape size(devices ands browsers)*/
@media only screen and (max-width:479px){

body{
	background:#9ea19f;
	background-position:left;
	margin-left:10%;
	font-family: 'BenchNine', sans-serif;
}

.way{
	max-width:100%;
	width:300px;
	background:#396e7d;
	text-align:center;
	border:10px solid #3c3c82;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px; 
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	padding:10%;
}

.way h1{
	max-width:100%;
	width:60%;
	font-size:70%;
	text-align:center;
	border:3px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	padding:2.5%;
	margin-top:-9%;
	margin-left:15%;
	overflow:none;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
}

.way img{
	max-width:100%;
	width:350px;
	height:70px;
	margin:1% 1% 1% 1%;
	border:3px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	display:none;
}

.top{
	max-width:100%;
	width:370px;
	background-color:#396e7d;
	border:10px solid #3c3c82;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	font-family: 'BenchNine', sans-serif;
	padding:1%;
	margin:2.5% 0  0 0;

}

.hov{
	max-width:100%;
	background:#fff;
	padding:0.9%;
	margin:4%;
	font-size:60%;
	border:5px solid #023542;
	border-radius:10px 10px 10px;
	-ms-border-radius:10px 10px 10px;
	-moz-border-radius:10px 10px 10px;
	-web-border-radius:10px 10px 10px;
	-o-border-radius:10px 10px 10px;
	-khtml-border-radius:10px 10px 10px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin-left:-4%;
}

ul{
margin-left:0.1%;
}

ul li{
	display:inline;
	text-align:center;
	text-decoration:none;
	outline:none;
	margin:-1%;
}

.overview{
	max-width:100%;
	width:150px;
	background:#396e7d;
	font-family: 'BenchNine', sans-serif;
	border: 10px solid #3c3c82;
	padding:1% 1% 2% 1%;
	margin:2% 1% 0 0;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	float:right;
	float:clear;
}

#building{
	max-width:100%;
	width:150px;
	border: 5px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin:10% 0 0 10%;
	display:none;
}

.headlines{
	max-width:100%;
	width:150px;
	background:#396e7d;
	font-family: 'BenchNine', sans-serif;
	border: 10px solid #3c3c82;
	padding:3%;
	margin:2% 0 10% 0;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	float:left;
	float:clear;
}

#seatbelt{
	max-width:100%;
	width:150px;
	margin-left:10%;
	margin-top:3%;
	border: 5px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	display:none;
}

.ph{
	max-width:100%;
	background:#fff;
	text-indent: 1em;
	padding:1%;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin:1.5%;
}

.patrol{
	max-width:100%;
	width:150px;
	background:#396e7d;
	font-family: 'BenchNine', sans-serif;
	border: 10px solid #3c3c82;
	margin:70% 0 3% 0;
	padding:3%;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	float:clear;
}

#patrol{
	max-width:100%;
	width:150px;
	border:5px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin: 2% 0 0 12.5%;
	display:none;
}

.bottom{
	max-width:100%;
	width:360px;
	background-color:#396e7d;
	border:10px solid #3c3c82;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	padding:-1%;
	margin-top:90%;
	margin-left:-1.5%;
}

.like{
	max-width:100%;
	display:inline;
	margin:0 0 0 60%;
	padding:1%;
	clear:both;
}

.topa{
	max-width:100%;
	width:370px;
	font-size:60%;
	background-color:#396e7d;
	border:10px solid #3c3c82;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	font-family: 'BenchNine', sans-serif;
	padding:1%;
	margin:2.5% 0  0 0;
}

.hova{
	max-width:100%;
	background:#fff;
	padding:0.9%;
	margin:0.5%;
	font-size:60%;
	border:5px solid #023542;
	border-radius:10px 10px 10px;
	-ms-border-radius:10px 10px 10px;
	-moz-border-radius:10px 10px 10px;
	-web-border-radius:10px 10px 10px;
	-o-border-radius:10px 10px 10px;
	-khtml-border-radius:10px 10px 10px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin-left:1.5%;
}

#sun{
	max-width:100%;
	width:250px;
	border:10px solid rgba(14,67,80,0.9);
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin-left:23%;
	display:none;
}

#sun:hover{
	border:10px solid #022730;
}
.form{
	max-width:100%;
	width:250px;
	border:10px solid rgba(14,67,80,0.9);
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
}


.bottoma{
	max-width:100%;
	width:370px;
	font-size:90%;
	background-color:#396e7d;
	border:10px solid #3c3c82;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin-top:2%;
	padding:1%;
}

#tag{
	max-width:100%;
	width:350px;
	border:10px solid rgba(14,67,80,0.9);
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin-left:11.5%;
	display:none;
}

#tag:hover{
	border:10px solid #023542;
}

.pho{
	max-width:100%;
	background:#fff;
	width:100px;
	text-indent: 1em;
	padding:1%;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin-left:37%	
}

#state{
	max-width:100%;
	margin-left:10%;
	display:none;
}

#beach{
	max-width:100%;
	width:350px;
	height:150px;
	border:10px solid rgba(14,67,80,0.9);
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin-left:12.6%;
	margin-top:1%;
	display:none;
}

#beach:hover{
	border:10px solid #023542;
}

.pha{
	max-width:100%;
	background:#fff;
	width300px
	text-indent: 1em;
	padding:1%;
	margin:1%;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
}

#team{
	max-width:100%;
	width:300px;
	border:10px solid rgba(14,67,80,0.9);
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin-left:17%;
	margin-top:1%;
	display:none;
}

#team:hover{
	border:10px solid #023542;
}

#colonel:hover{
	border:10px solid #023542;
}

#seal:hover{
	border:10px solid #023542;
}

#latina{
	max-width:100%;
	width:350px;
	border:10px solid rgba(14,67,80,0.9);
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	margin-left:12.5%;
	margin-top:1%;
	display:none;
}

#latina:hover{
	border:10px solid #023542;
}

.images{
	max-width:100%;
	width:492px;
	background-color:#396e7d;
	border:10px solid #3c3c82;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	box-shadow:5px 5px 5px #070748;
	-ms-box-shadow:5px 5px 5px #070748;
	-moz-box-shadow:5px 5px 5px #070748;
	-web-box-shadow:5px 5px 5px #070748;
	-o-box-shadow:5px 5px 5px #070748;
	-khtml-box-shadow:5px 5px 5px #070748;
	font-family: 'BenchNine', sans-serif;
	padding:1%;
	margin:2.5% 0  0 0;
	display:none;
}

.set{
	max-width:100%;
	width:375px;
	background-color:#04cdff;
	border:10px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	font-family: 'BenchNine', sans-serif;
	padding:1%;
	margin:2.5% 0  0 5%;
}

.list{
	max-width:100%;
	width:600px;
	background-color:#04cdff;
	border:10px solid #023542;
	border-radius:5px 5px 5px;
	-ms-border-radius:5px 5px 5px;
	-moz-border-radius:5px 5px 5px;
	-web-border-radius:5px 5px 5px;
	-o-border-radius:5px 5px 5px;
	-khtml-border-radius:5px 5px 5px;
	font-family: 'BenchNine', sans-serif;
	padding:1%;
	margin:2.5% 0  0 5%;
}

}



/*--------------------color swatch---------------
dark blue #070748
light blue #04cdff rgba( 4, 205, 255,)
mid gray blue #3892a9
turkish #0e4350 rgba(14,67,80, )
dark turkish #023542
xtra dark turkish #022730
dark gray blue #3c3c82
green #26b001
gray mid blue #396e7d
------------------------------------------------*/