body{
	max-width:1000px;
	background-color:#0b3052;
}

div{
	max-width:800px;
	background:#fff;
	border-radius:2px 25px 2px;
	margin-left:25%;
}

#mood{
	border:5px solid #09243e;
	border-radius: 5px 5px 5px;
	margin:5% 5% 6% 10%;
}

h1{
	text-align:center;
	padding5%;
}

h2{
	text-align:center;
}
	